footer{
 background-color: white;
 height:70px;
 width:100%;
 bottom:0px;
 position: fixed;
 border-top-color: #CCCCCC;
 border-top-width: 1px;
 border-top-style: solid;
    justify-content: center;
 display: flex;
}

footer p{
    text-align: center;
    padding:    10px 0;
    margin-right: auto;
    margin-left: auto;
}
