footer{
	color: #00FF00;
	height: 60px;
	width: 100%;
	bottom:0px;
	position:fixed;
	border-top-color:#CCCCCC;
	border-top-width:1px;
	border-top-style:solid;
}
footer p{
	text-align: center;
	padding:10px 0;
}
