footer{
<<<<<<< HEAD
 background-color: white;
=======
 background-color:#00FF00;
>>>>>>> 8386b5bb4a3e11f23c2155c40c9e3bfd80866e5a
 height:70px;
 width:100%;
 bottom:0px;
 position: fixed;
<<<<<<< HEAD
 border-top-color: #CCCCCC;
 border-top-width: 1px;
 border-top-style: solid;
    justify-content: center;
 display: flex;
}

footer p{
    text-align: center;
    padding:    10px 0;
    margin-right: auto;
    margin-left: auto;
=======
}

footer p{
	text-align: center;
    padding: 10px 0;
>>>>>>> 8386b5bb4a3e11f23c2155c40c9e3bfd80866e5a
}
