section.places{
	        display: flex;

}
section.places article{
	width: 390px;
	padding: 20px;
	margin: 20px;
	border-color: #FF5A5F;
	border-width:1px;
	border-style: solid;
	border-radius: 4px;
	display: flex;
    justify-content: center ;
    align-items: center;
/*    flex-wrap: wrap;*/

}

section.places h1{
	align-content: top left;
	font-size: 30px;
	align-self: top;
}
